.App {
  text-align: center;
  background-color: antiquewhite;
  margin: 0,0,50px,50px;
}
.profimg{
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.name{
  font-family: 'Courier New', Courier, monospace;
  font-size: x-large;
  font-weight: 400;
}

